# Default file export directory
exported/

# Wakatime
.wakatime-project

# Test cache / coverage database
.pytest_cache
.coverage
coverage.xml
cobertura.xml

# IntelliJ project files
.idea

# Compiled Python
__pycache__
*.pyc

# Python environment
venv/

# Sandbox
sandbox.py
